@import "tailwindcss";
  .first-layer {
    animation: reverse-spin 20s linear infinite;
  }
  .second-layer {
    animation: reverse-spin 10s linear infinite;
  }
  .third-layer {
    animation: spin 10s linear infinite;
  }
  .fourth-layer {
    animation: spin 10s linear infinite;
  }
.fifth-layer {
  animation: reverse-spin 10s linear infinite;
}
      
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  @keyframes reverse-spin{
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }
  @keyframes special-spin{
    from { transform: rotate(300deg); }
    to { transform: rotate(0deg); }
  }

 
  