@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";


@theme {
  --color-projectsBG: #FEFEE3;
  --color-customBG: #F211FF;
  --color-customBlue: #7A9CC6;
  --color-customGreen: #648767;

}
  .first-layer {
    animation: reverse-spin 10s linear infinite;
  }
  .second-layer {
    animation: reverse-spin 10s linear infinite;
  }
  .third-layer {
    animation: spin 10s linear infinite;
  }
  .fourth-layer {
    animation: spin 20s linear infinite;
  }
.fifth-layer {
  animation: reverse-spin 10s linear infinite;
}
      
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  @keyframes reverse-spin{
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }
  @keyframes special-spin{
    from { transform: rotate(300deg); }
    to { transform: rotate(0deg); }
  }

  @theme {
    --font-roboto: "roboto", "sans-seriff"; 

  } 
 
  @utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  } 