@import "tailwindcss";
  .first-layer {
    animation: reverse-spin 30s linear infinite;
  }
  .second-layer {
    animation: reverse-spin 50s linear infinite;
  }
  .third-layer {
    animation: spin 50s linear infinite;
  }
  .fourth-layer {
    animation: spin 50s linear infinite;
  }
.fifth-layer {
  animation: reverse-spin 40s linear infinite;
}
      
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  @keyframes reverse-spin{
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }
  @keyframes special-spin{
    from { transform: rotate(300deg); }
    to { transform: rotate(0deg); }
  }

 
  @utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  } 